*.class

# build directory
target

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# intellj files
*.iml
.idea

# Eclipse
*.project
*.settings
*.pydevproject
*.classpath

# Release files
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
release.properties

# Python coverage and tests reports
.coverage
coverage.xml
nosetests.xml

*.pyc

logs
/bin
