{:key    {:displayName "User Name"
          :category    "cloud-cred-stratuslabiter"
          :description "StratusLab account username"
          :type        "string"
          :mandatory   true
          :readOnly    false
          :order       20}
 :secret {:displayName "Password"
          :category    "cloud-cred-stratuslabiter"
          :description "StratusLab account password"
          :type        "password"
          :mandatory   true
          :readOnly    false
          :order       30}
 :quota  {:displayName "User VM quota"
          :category    "cloud-cred-stratuslabiter"
          :description "Number of VMs the user can start for this cloud"
          :type        "string"
          :mandatory   true
          :readOnly    true
          :order       0}
 }