[Test]
General.ssh.public.key = ssh-rsa
General.verbosity = 0

SLIPSTREAM_PDISK_ENDPOINT = pdisk.lal.stratuslab.eu

# LAL
stratuslab.imageid = N-Bu1h1jt3K8ODnCTw4JiyPaH5k
stratuslab.endpoint = cloud.lal.stratuslab.eu
stratuslab.pdisk_endpoint = pdisk.lal.stratuslab.eu
stratuslab.username = CHANGE_ME
stratuslab.password = CHANGE_ME
stratuslab.ip.type = public
stratuslab.marketplace.endpoint = https://marketplace.stratuslab.eu/marketplace/
stratuslab.extra.disk.volatile = 1
stratuslab.multiplicity = 1
stratuslab.max.iaas.workers = 2
